@page
@model WebApplicationWithAuth.Pages.Parties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Party</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Party.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Party.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Party.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Party.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Party.StartsOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Party.StartsOn)
        </dd>
    </dl>
    <h5>Sign-Ups:</h5>
    @foreach (var signup in Model.Party.SignUps)
    {
        <strong>@signup.Name</strong>
        <h6>Food Assignments</h6>
        @if (signup.FoodAssignments.Any())
        {
            <ul class="ml-3">
                @foreach (var foodAssignment in signup.FoodAssignments)
                {
                    <li>
                        @foodAssignment.FoodName (@foodAssignment.Quantity @foodAssignment.Units)
                        <p class="ml-3">@foodAssignment.Notes</p>
                    </li>
                }
            </ul>
        }
        else
        { 
            <div>No food assignments...yet.</div>
        }
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Party.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
